<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>
<body bgcolor="aquamarine">
    <div class="main">
    <form method = "post">
    
    <input type="submit"  value="ON" name="on" id="ON" class="b" >&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{{ url_for('open') }}"></a>
    <input type="button"  value="OFF" name="off" id="OFF" class="b">
</form>  
</div>
</body>
</html>